*.csproj
*.sln
.DS_Store
.idea
*.ply
*.spz
*.sog

/builds/*
/Builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*
/HeadGazeLogs/
/Assets/_Recovery/
/Assets/_Recovery.meta

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Release/*
/projects/**/Builds/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
/projects/**/HeadGazeLogs/
/projects/**/Assets/_Recovery/
/projects/**/Assets/_Recovery.meta
*.sln.DotSettings.user

/releases/*
!/releases/Splatviewer_VR_v1.0_Windows_x64.zip
